html, body{
  height: 100%;
}
body{
  background-color: #0f2c3e;

  font-family: Helvetica, Arial;
  color: #ffffff;
}

.container{
  width: 986px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: table;
  height: 100%;
}

.vertCenter{
  display:table-cell;
  vertical-align:middle;
}

.spinner{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.hidden{
  display: none;
}

#logo{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
